@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    background: #F4EBD9;
    padding: 80px;
}

.container {
    display: flex;
    justify-content: center;
}

.tree {
    fill: #04E762;
}

.stone {
    fill: #77685D;
}

.water {
    fill: #00A1E4;
}

.dirt {
    fill: #eee0c4;
}